.container {
  width: 45%;
}

.rating {
  max-width: 300px;
}

output {
  display: inline-block;
}

input[type=range] {
  width: 30%;
}

header h1 {
  position: relative;
}

header img {
  float: left;
  margin: 0;
}

form :focus:required:invalid {
  border-color: #a94442;
}
